In [3]:
import pandas as pd
import numpy as np

In [6]:
# 데이터 읽기
df = pd.read_csv('book_IT_bestseller.csv', index_col=0)
print(df.shape)
df.head(3)

(20, 7)

,책이름,저자,출판사,초판일,가격,할인율,평점
0,혼자 공부하는 파이썬,윤인성,한빛미디어,\n ...,"16,200원",[10%할인],9.6
1,비전공자를 위한 이해할 수 있는 IT 지식,최원영,티더블유아이지,\n ...,"15,120원",[10%할인],8.5
2,대규모 서비스를 지탱하는 기술(웹 개발자를 위한),이토 나오야,제이펍,\n ...,"22,500원",[10%할인],10.0

In [7]:
df['초판일']

0     \n                                            ...
1     \n                                            ...
2     \n                                            ...
3     \n                                            ...
4     \n                                            ...
5     \n                                            ...
6     \n                                            ...
7     \n                                            ...
8     \n                                            ...
9     \n                                            ...
10    \n                                            ...
11    \n                                            ...
12    \n                                            ...
13    \n                                            ...
14    \n                                            ...
15    \n                                            ...
16    \n                                            ...
17    \n                                            ...
18    \n                                            ...
19    \n                                            ...
Name: 초판일, dtype: object

In [10]:
df['초판일'] = df['초판일'].str.replace('\n','')
df['초판일'] = df['초판일'].str.replace(' ','')
df['초판일'] = df['초판일'].str.replace('\t','')
df['초판일']

0     2019.06.10
1     2020.07.14
2     2011.02.28
3     2021.08.02
4     2021.11.26
5     2020.04.10
6     2021.10.04
7     2019.06.20
8     2020.12.21
9     2021.04.02
10    2021.01.18
11    2018.11.30
12    2021.10.04
13    2021.10.25
14    2021.11.19
15    2013.12.24
16    2021.01.22
17    2021.08.02
18    2020.08.05
19    2021.12.01
Name: 초판일, dtype: object

In [13]:
df.rename(columns={'평점':"평점(10점 만점)"},inplace=True)

In [14]:
df.head()

,책이름,저자,출판사,초판일,가격,할인율,평점(10점 만점)
0,혼자 공부하는 파이썬,윤인성,한빛미디어,2019.06.10,"16,200원",[10%할인],9.6
1,비전공자를 위한 이해할 수 있는 IT 지식,최원영,티더블유아이지,2020.07.14,"15,120원",[10%할인],8.5
2,대규모 서비스를 지탱하는 기술(웹 개발자를 위한),이토 나오야,제이펍,2011.02.28,"22,500원",[10%할인],10.0
3,2022 시나공 총정리 컴퓨터활용능력 1급 필기,길벗R&D,길벗,2021.08.02,"18,000원",[10%할인],8.3
4,클린 아키텍처(만들면서 배우는)(위키북스 IT Leaders 시리즈 34),톰 홈버그,위키북스,2021.11.26,"16,200원",[10%할인],0.0

In [15]:
df.to_csv('book_IT_bestseller.csv')