In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
# 데이터 읽기
#df = pd.read_csv(r'\Users\project\dataAnalysis-project\JYS\3.EDA\Korea_Income_and_Welfare.csv', index_col=0, encoding='UTF8')
wf = pd.read_csv(r'\Users\project_Sjy\JYS\3.EDA\Job_Category_to_Income_Comparison.csv', index_col=0, encoding='UTF8')
print(wf.shape)
wf.head(3)

(149, 2)

       job_title   income
148     기업 고위 임원  11562.0
55   보험 및 재무 관리자   9868.0
73        의료 전문가   9800.0

In [4]:
wf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 148 to 117
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_title  149 non-null    object
 1   income     149 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB

6922.0     2
11562.0    1
4589.0     1
4730.0     1
4677.0     1
          ..
6066.0     1
6039.0     1
6037.0     1
6012.0     1
1705.0     1
Name: income, Length: 148, dtype: int64