In [1]:
import pymysql
import pandas as pd

In [3]:
# DB연동
conn = pymysql.connect(host='localhost',
                       database='DB', # 자기 데이터 베이스에 맞게 접속
                       user='root',
                       passwd='', #자기 비밀번호
                       charset='utf8',
                       local_infile=1) #혹시나 안되면 이거 켜서 접속

cursor = conn.cursor()

In [3]:
#DB생성
#cursor.execute('create database jobkorea')

In [4]:
#TABLE 생성
sql = '''
    CREATE TABLE saraminDB(
        company varchar(255),
        duty varchar(255),
        career varchar(255),
        degree varchar(255),
        work_place varchar(255),
        work_type varchar(255),
        category longtext,
        link varchar(255)
        
    )
      '''
cursor.execute(sql)
# 커밋필수
conn.commit()

In [34]:
# #TABLE 삭제 문제 있을 때만 사용

sql_drop = '''
            DROP TABLE jobkoreaDB
'''
cursor.execute(sql_drop)
conn.commit()

In [7]:
# csv 파일 읽기

saramin= pd.read_csv('/Users/sky/class_python/project_recruit/temp.csv', index_col=0, encoding='utf8')
saramin.head()

,company,duty,career,degree,work_place,work_type,category,link
0,(주)알에스솔루션즈,[RS Solutions] 정규직 및 인턴 채용,경력무관,학력무관,서울 강남구,정규직,"['웹개발', '퍼블리셔', '프론트엔드', '웹표준·웹접근성', 'HTML']",http://www.saramin.co.kr/zf_user/jobs/relay/vi...
1,(주)아이필로,화장품 스킨케어 브랜드 웹디자이너 경력 모집,1 ~ 2년,학력무관,서울 강남구,정규직,"['CSS', 'Javascript', '화장품', '모바일디자인', '배너디자인']",http://www.saramin.co.kr/zf_user/jobs/relay/vi...
2,유일에너테크(주),"2021 하반기 신입 및 경력 모집(제어,재무회계,특허,영업 등)",신입 · 경력,고졸↑,경기 평택시,정규직,"['C#', '경리', '경리사무원', '전산회계', '관리회계']",http://www.saramin.co.kr/zf_user/jobs/relay/vi...
3,월드패밀리잉글리쉬코리아(주),월팸코리아 전부문 신입/경력 채용,신입 · 경력,학력무관,서울 강남구,정규직,"['백엔드/서버개발', '네트워크', '전산회계', '회계사', '더존']",http://www.saramin.co.kr/zf_user/jobs/relay/vi...
4,(주)이프정보시스템,"[금융SI][금융패키지] 은행 및 금융 IT 신입, 경력",신입 · 경력,대학교(4년)↑,서울 강서구,정규직 · 계약직,"['웹개발', 'SI개발', '.NET', 'C#', 'C++']",http://www.saramin.co.kr/zf_user/jobs/relay/vi...

In [8]:
# 데이터 읽어서 DB에 저장

for index, row in saramin.iterrows():
    tu = ( row.company, row.duty, row.career, row.degree, row.work_place,
          row.work_type, row.category, row.link) 
    cursor.execute('''
                   INSERT INTO saraminDB values (%s, %s, %s, %s, %s, %s, %s, %s)
                   ''', tu)

In [9]:
conn.commit()
conn.close()