In [1]:
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise import Reader
from surprise import Dataset
import pandas as pd
import numpy as np

# 맥os 다운 방지 코드
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [2]:
df = pd.read_csv('/Users/sky/class_python/company_member.csv', index_col=0)
df

       company_Index memberid  value
0                  1      sky      0
1                  1     sky2      0
2                  2      sky      0
3                  2     sky2      0
4                  3      sky      0
...              ...      ...    ...
95285          47643     sky2      0
95286          47644      sky      0
95287          47644     sky2      0
95288          47645      sky      0
95289          47645     sky2      0

[95290 rows x 3 columns]

In [3]:
reader = Reader(rating_scale=(0,1))
data = Dataset.load_from_df(df[['memberid', 'company_Index', 'value']], reader)
data

In [4]:
#SVD
model = SVD()
# 교차검증
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, n_jobs=4, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.0126  0.0103  0.0007  0.0007  0.0007  0.0050  0.0053
MAE (testset)     0.0002  0.0001  0.0000  0.0000  0.0000  0.0001  0.0001
Fit time          4.27    4.16    4.13    4.06    3.87    4.10    0.13
Test time         0.10    0.09    0.10    0.10    0.08    0.09    0.01

{'test_rmse': array([0.01256576, 0.0102645 , 0.0006943 , 0.00069615, 0.00069494]),
 'test_mae': array([1.84123900e-04, 1.39922124e-04, 3.03395037e-05, 3.65480793e-05,
        3.48497462e-05]),
 'fit_time': (4.26596474647522,
  4.161673069000244,
  4.130648851394653,
  4.061614751815796,
  3.865370988845825),
 'test_time': (0.09740209579467773,
  0.08963203430175781,
  0.09624910354614258,
  0.09823226928710938,
  0.07837677001953125)}

In [5]:
from surprise.model_selection import train_test_split
train_set, test_set = train_test_split(data, test_size=1.0)

In [6]:
model.fit(train_set)
predictions = model.test(test_set)

/Users/sky/opt/miniconda3/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/Users/sky/opt/miniconda3/lib/python3.8/site-packages/numpy/core/_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [7]:
model.predict('sky', 8)

Prediction(uid='sky', iid=8, r_ui=None, est=1, details={'was_impossible': False})

In [8]:
model.predict('sky', 1756)

Prediction(uid='sky', iid=1756, r_ui=None, est=1, details={'was_impossible': False})

In [11]:
predicted_values = model.test(test_set)
predicted_values[0:10]

[Prediction(uid='sky', iid=36938, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky2', iid=11447, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=37638, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky2', iid=11137, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=20054, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=10866, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=28216, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=13193, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky2', iid=36148, r_ui=0.0, est=1, details={'was_impossible': False}),
 Prediction(uid='sky', iid=43946, r_ui=0.0, est=1, details={'was_impossible': False})]