In [66]:
from surprise import SVD
from surprise.model_selection import cross_validate
import pandas as pd
from surprise import Reader
from surprise import Dataset
import numpy as np

# 맥os의 경우 시도때도없이 다운되서 아래와 같이 넣어준다.
import os
os.environ['KMP_DUPLICATE_LIB_OK']='True'

In [67]:
df = pd.read_csv('/Users/sky/class_python/company_member.csv', index_col=0)
df

       company_Index memberid  value
0                  1      sky      0
1                  1     sky2      0
2                  2      sky      0
3                  2     sky2      0
4                  3      sky      0
...              ...      ...    ...
95285          47643     sky2      0
95286          47644      sky      0
95287          47644     sky2      0
95288          47645      sky      0
95289          47645     sky2      0

[95290 rows x 3 columns]

In [68]:
reader = Reader(rating_scale=(0,1))
data = Dataset.load_from_df(df[['company_Index', 'memberid', 'value']], reader)
data

In [69]:
#SVD
model = SVD()
cross_validate(model, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.0007  0.0073  0.0073  0.0125  0.0002  0.0056  0.0046
MAE (testset)     0.0000  0.0001  0.0001  0.0002  0.0001  0.0001  0.0000
Fit time          4.66    3.74    4.52    3.91    4.59    4.28    0.38
Test time         0.12    0.08    0.08    0.09    0.08    0.09    0.02

{'test_rmse': array([0.00069647, 0.00727756, 0.00727627, 0.01254674, 0.00020723]),
 'test_mae': array([4.84630493e-05, 1.13205726e-04, 1.08793465e-04, 1.87038208e-04,
        1.01507241e-04]),
 'fit_time': (4.6576011180877686,
  3.7364790439605713,
  4.523696184158325,
  3.9086997509002686,
  4.589849233627319),
 'test_time': (0.12250804901123047,
  0.07914495468139648,
  0.08285737037658691,
  0.08754682540893555,
  0.07997608184814453)}